@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
.main-container{
    display: grid;
    color: white;
    height: 100vh;
    font-family: "inter";
    font-size: 14px;
    grid-template-columns: 30% 70%;
}
.inboxes-container{
    background-color: #131C1D;
    padding: 40px;
}
.inbox-container{
    margin: 30px 0;
    padding: 15px;
}
.inbox-container:hover{
    background-color: #1B2325;
    cursor: pointer;
}
.inboxes-container h1{
    font-weight: 600;
    padding: 15px;
}
.inbox-container h4{
    font-weight: 550;
    padding-bottom: 3px;
}
span{
    background-color: #00A3D7;
    border-radius: 50px;
    display: inline-block;
    padding: 2px;
    position: absolute;
    left: -10px;
    top: 5px;
}
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.absolute-position{
    position: relative;
}
.hour{
    font-size: 12px;
}
.mail-container{
    background-color: #1B2325;
    padding: 50px;
}
.mail-container button{
    background-color: #252C2E;
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 8px 10px;
}
.mail-container h1{
    margin: 25px 0;
   font-size: 40px;
    font-weight: 600;
}
.subject{
    color: #6E7274;
    margin-top: 8px;
}
.padding-left{
    padding-left: 10px;
}