@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.main-style{
    background-color: #2b2a2b ;
    color: white;
    font-family: "Montserrat", sans-serif ;
    font-size: 14px;
}
h1{
    font-size: 18px;
    font-weight: 450;
    padding: 20px;
}
table{
    width: 50%
}
table, td{
    border-collapse: collapse;
}
td{
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}
img{
    border-radius: 50px;
}
.img-td{
    width: 50px;
    padding-left: 20px;
}

.align-text-right{
    text-align: right;
}
.green-text{
    color: #217761;
}
.red-text{
    color:#c14e5b;
}